<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cards Flex</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/profile.css">
</head>

<body>

<div class="containerpers">
  <div class="card-container">
    <div class="cardpers">
      <div class="profile-picture">
        <img src="<%= user.image %>">
      </div>
      <a href="" class="edit-button"><b>Edit</b></a>
      <a href="/login" class="button"><b>Logout</b></a>
    <div class="data">
        <h2 class="name"><%= user.name%></h2>
      <h3 class="username">@<%= user.username %></h3>
      <p class="description"><%= user.description %></p>
      <a href="/post" class="button-create">Create Post</a>
    </div>

    </div>

    <div class="contain">
      
    <% user.posts.forEach((post)=>{ %>
         <div class="card" style="width:18rem;">
      <img src="/images/<%= post.image %>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= post.postText %></h5>
      </div>
    </div>
    <% }) %>

    </div>

  </div>

</div>

</body>
</html>
